/* Skeleton */
@import "lib/normalize";
@import "lib/skeleton";
/* App */
@import "typography";
/* Elements */
@import "big-boss";
@import "tooltips";

/* Body */
body {
  background-color: #f4f3ef;
}

/* Header */
header {
  margin-top: 2rem;

  img {
    float: left;
    height: 5rem;
    margin-right: 1rem;
  }
}

/* Content */
.section {
  border-top: 1px solid #CCCBC7;
  margin-top: 3rem;
  padding-top: 3rem;
}